
body{
  background-color: lightgrey;
}
canvas{
  float: left;
  background-color: white;
  border: 2px solid black;
  cursor:crosshair;
}

button:first-of-type{
  clear: both;
}
button{
  float: left;
}

/*button:nth-of-type(6){
  margin-left: 20px;
}*/
/*.content{
  float: left;
  margin-left: 30vw;
}*/
